<p> {{tool.name}} </p>

{% if tool.description %}
<p> {{tool.description}} </p>
{% endif %}

<p> Responsable : {{tool.user.username}} {{tool.user.firstname}} {{tool.user.lastname}} </p>

{% comment %} 
create a form to borrow the tool 

put a list of people who can borrow the tool 
put a place to input the number of hours
put select date and time
put a button submit that send the form

aa
{% endcomment %}

<form action="{% url 'catalog:see_tool' tool.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

{% comment %}
Pour plus tard quand une personne se conectera
{% if user.is_authenticated %}
{% endcomment %} 

{% for msg in messages %}
    {{msg}}
{% endfor %}    


<a href="{% url 'catalog:index'%}"> Retour Outil </a>

