{% extends "base.html" %}

{% block title %}Liste utilisateurs{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des utilisateurs</h3>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <a href="{% url 'users:createUser' %}" class="btn btn-primary">Ajouter un utilisateur</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Staff</th>
                                <th>Admin</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{% if user.is_staff %}Oui{% else %}Non{% endif %}</td>
                                <td>{% if user.is_superuser %}Oui{% else %}Non{% endif %}</td>
                                <td>
                                    {% comment %} <a href="{% url 'users:user_edit' user.id %}" class="btn btn-sm btn-secondary">Modifier</a> {% endcomment %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7">Aucun utilisateur trouvé.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}